/* styles.css - Add these styles to the previous ones */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

:root {
  --bg-color: #000000;
  --text-color: #ffffff;
  --bg-nav-color: RGB(12, 15, 10, 0.8);
  --main-font-family: "Rubik", monospace, sans-serif;
  --bg-component-color: #1c1818;
}

.comments-section {
  /* gap: 20px; */
  /* margin-left: 8%; */
  height: 50%;
  overflow-y: scroll;
}

.secDiv {
  padding: 15px;
  /* background-color: #f9f9f9; */
  margin-left: 2%;
  width: 85%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
  gap: 20px;
}

.modal-contentt {
  height: 42%;
}

.comment {
  padding: 10px;
  border-bottom: 1px solid rgba(243, 245, 247, 0.15);
}

.comment-header {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-top: 1em;
}

.comment-text {
  margin-top: 5px;
}

.c-profile-pic {
  width: 30px;
  height: 30px;
  background-color: aliceblue;
  border-radius: 1000px;
}

.c-profileInfo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.p-likeStat {
  color: #f5fffa;
}

.c-creationDate {
  color: hsla(0, 0%, 100%, 0.535);
  font-size: small;
}

#post-page {
  display: flex;
  flex-direction: row;
  max-height: 400px;
  height: 50%;
  width: 85%;
}

/* Continue with additional styles as needed */


*::-webkit-scrollbar {
  display: none;
}

*::selection {
  color: rgb(255, 117, 255);
}

body,
html {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#app {
  background-color: #0c0f0a;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  justify-content: center;
}

nav {
  /* background-color: var(--bg-nav-color); */
  background-image: rgba(16, 16, 16, 0.85);
  backdrop-filter: blur(28.5px);
  -webkit-backdrop-filter: blur(28.5px);
  width: 100%;
  height: 64px;
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: space-around;
  color: #f5fffa;
}

.filters {
  position: relative;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: transparent;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 300px;
  font-size: 14px;
}

.filters .filter {
  flex: 1 1 auto;
  text-align: center;
}

.filters .filter input {
  display: none;
}

.filters .filter .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0;
  color: white;
  transition: all 0.15s ease-in-out;
}

.filters .filter input:checked+.name {
  background-color: #555;
  font-weight: 600;
}

main {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3 0px;
}

#filterdiv,
#spaceout {
  width: 25vw;
  height: 90vh;
}

#posts {
  height: 90vh;
  width: 50vw;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  align-items: center;
}

.p-cats {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

.p-cat {
  background-color: #333;
  padding: 3px 3px;
  border-radius: 10px;
}

.p-content {
  font-size: small;
}

.navMainLogo {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

a {
  all: unset;
}

.profile {
  width: 100px;
  height: 30px;
  border-radius: 1000px;
  border: 0.5px solid #faeef4;
  background-color: transparent;
  font-family: var(--main-font-family);
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #faeef4;
  cursor: pointer;
  transition-duration: 0.3s;
}

.profile:hover {
  background-color: #faf1f1;
  color: black;
  font-weight: bolder;
  border: 0;
}

.actionitems {
  all: unset;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: var(--main-font-family);
}

.actionitems>li {
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 10px;
  transition-duration: 0.3s;
}

.actionitems>li:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.166);
}

/* Style for a Post*/

.f-post {
  cursor: pointer;
  background-color: transparent;
  width: 50vw;
  font-family: var(--main-font-family);
  height: fit-content;
  /* border-radius: 10px; */
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  border-right: 1px solid rgba(243, 245, 247, 0.15);

  /* border-bottom: 1px solid rgba(243, 245, 247, 0.15); */
}

.noimage {
  margin-top: 61px;
}

.p-header {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-top: 1em;
}

.p-creationDate {
  color: hsla(0, 0%, 100%, 0.535);
}

.p-nickname {
  font-weight: 800;
}

.p-image>img {
  width: 245px;
  height: 60%;
  border-radius: 10px;
  margin-top: 10px;
}

.p-profileInfo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.p-profile-pic {
  width: 36px;
  height: 36px;
  background-color: aliceblue;
  border-radius: 1000px;
}

.p-main {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 90%;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: justify;
}

.p-stats {
  margin-top: 1.5em;
  display: flex;
  align-items: center;

  gap: 20px;
  width: 40%;
}

.p-likeCount {
  display: flex;
  align-items: center;
  gap: 5px;
}

.p-commentCount {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.p-commentCount>img {
  transition: ease-out 0.3s;
}

/* .p-commentCount > img:hover {
  transform: translateY(-5px);
} */

.p-likeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-likeBtn>img {
  cursor: pointer;
  transition: ease-out 0.9s;
  width: 20px;
}

/* .p-likeBtn > img:hover {
  transform: translateY(-5px);
} */

/*Test*/
/* Modal Content */
.modal-content {
  background-color: #181818;
  margin: 20% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 620px;
  max-height: 240px;
  border-radius: 16px;
  border: 0.6px solid rgba(243, 245, 247, 0.15);
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#c-post-userinfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

#c-post-pfp {
  width: 36px;
  height: 36px;
  background-color: white;
  border-radius: 1000px;
}

#img-upload {
  display: none;
}

#c-post-nickname {
  font-weight: 700;
}

#c-post-textArea {
  margin-top: 10px;
  background-color: transparent;
  outline: 0;
  color: white;
  font-size: 1rem;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  resize: none;
  width: 100%;
  height: fit-content;
}

#c-post-textArea::selection {
  color: rgb(255, 165, 255);
}

#c-post-options {
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  background-color: aliceblue;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  margin-bottom: 10px;
}

#c-post-cats {
  display: none;
}

#c-post-cat-select {
  background-color: transparent;
  color: orange;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 20px;
  padding: 10px 10px;
  margin-bottom: 10px;
}

#c-post-options>div {
  cursor: pointer;
}

#c-post-Btn {
  cursor: pointer;
  border: 0;
  border-radius: 300px;
  padding: 10px 20px;
  transition-duration: 0.3s;
  font-weight: 600;
  background-color: white;
  color: black;
  width: 90px;
}

#c-post-Btn:hover {
  background-color: rgba(0, 0, 0, 0.511);
  color: white;
  border: 0.3px dashed rgba(255, 255, 255, 0.275);
}

/* Style for a Post*/

.noimage {
  margin-top: 61px;
}

.p-creationDate {
  color: hsla(0, 0%, 100%, 0.535);
}

.p-nickname {
  font-weight: 800;
}

.p-image>img {
  width: 90px;
  height: 80%;
  border-radius: 10px;
  margin-top: 10px;
}

.p-profileInfo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.p-profile-pic {
  width: 36px;
  height: 36px;
  background-color: aliceblue;
  border-radius: 1000px;
}




/*Test*/

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 9999;
  /* Sit on top of other content */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: hidden;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black with opacity */
}

/* Modal Content */
.modal-content {
  background-color: #181818;
  margin: 20% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 620px;
  min-height: 440px;
  border-radius: 16px;
  border: 0.6px solid rgba(243, 245, 247, 0.15);
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#c-com-userinfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

#c-com-pfp {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 1000px;
}

#img-upload {
  display: none;
}

#c-com-nickname {
  font-weight: 700;
  font-size: small;
}

#c-com-textArea {
  background-color: transparent;
  outline: 0;
  color: white;
  font-size: 1rem;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  resize: none;
  width: 100%;
  height: fit-content;
}

#c-com-textArea::selection {
  color: rgb(255, 165, 255);
}

#c-com-options {
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  background-color: aliceblue;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  margin-bottom: 10px;
}

#c-com-cats {
  display: none;
}

#c-com-cat-select {
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 20px;
  padding: 10px 10px;
  margin-bottom: 10px;
}

#c-com-options>div {
  cursor: pointer;
}

.c-option {
  background-color: #181818;
  color: rgb(255, 255, 255);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 20px;
  padding: 10px 10px;
  margin-bottom: 10px;
  cursor: pointer;
}


.c-option:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

#c-com-Btn {
  cursor: pointer;
  border: 0;
  border-radius: 300px;
  padding: 10px 20px;
  transition-duration: 0.3s;
  font-weight: 600;
  background-color: white;
  color: black;
  width: 115px;
}

#c-com-Btn:hover {
  background-color: rgba(0, 0, 0, 0.511);
  color: white;
  border: 0.3px dashed rgba(255, 255, 255, 0.275);
}

.p-content {
  font-size: smaller;
}

.com2ent {
  margin-left: 20px;
}

.PostComment_Contaiar {
  display: flex;
  flex-direction: row;
  width: 98%;
  border-top: 1px solid #ffffff7d;
  padding-top: inherit;
}

.shakta {
  width: 1px;
  background-color: #f5fffa;
  height: 75%;
  margin-left: 40px;
}

.noimage-c {
  margin: 13px 0;
}