:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.main {
min-height: 100vh;
display: grid;
place-content: center;
}

.profile-info,
.statistics {
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  padding: 1rem;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.statistics h2 {
  margin-bottom: 1rem;
}

.profile-info {
  position: relative;
  justify-content: space-between;
}

.user-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.user-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .profile-info {
    flex-direction: column;
  }

  .user-image-container {
    width: 100%;
    margin-bottom: 20px;
  }

  .user-image {
    max-width: 90%;
  }
}

.xp-widget {
  width: 100%;
  max-width: 400px;
  /* margin: 0 auto; */
  font-family: "Roboto", sans-serif;
}

.xp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.xp-visualization {
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 5px;
  overflow: hidden;
  padding: 2px;
}

.xp-svg {
  width: 100%;
  height: 20px;
}

.xp-bar {
  transition: width 0.3s;
}

.xp-up {
  fill: #bebebe;
}

.xp-down {
  fill: #7e7e7e;
}

.xp-ratio-display {
  font-size: 1.2rem;
  margin-top: 10px;
  font-weight: bold;
  color: #4a4a4a;
}
.xp-values-display {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}
.xp-value {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.xp-value-label {
  font-size: 1.2rem;
  margin: 0;
  color: #4a4a4a;
}
.xp-value-text {
  font-size: 1.2rem;
  margin: 5px 0 0 0;
  font-weight: bold;
  color: #4a4a4a;
}

.tooltip {
  position: absolute;
  text-align: center;
  padding: 10px;
  font-size: 12px;
  background: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 4px;
  pointer-events: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s;
  /* Updated positioning */
  transform: translate(-50%, -100%);
}
#timeline-container {
  width: 100%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  border-radius: 8px;
}
#timeline {
  display: block;
  margin: 0 auto;
}

.dot {
  stroke: #fff;
  stroke-width: 2px;
}

.flex-min-h-screen {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.my-4 {
  margin: 1rem 0;
}
.profile-info {
  margin: 1rem 0;
}
.user-image-container img {
  width: 100px; /* Adjust as needed */
  height: auto;
}
.xp-widget {
  margin: 1rem 0;
}
.xp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.xp-ratio-display {
  margin: 1rem 0;
}
.xp-values-display {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.xp-value {
  margin: 0 1rem;
}
.xp-visualization {
  width: 100%;
}
.xp-svg {
  width: 100%;
  height: auto;
}
.xp-bar {
  height: 20px;
}
.xp-up {
  fill: #4caf50; /* Adjust as needed */
}
.xp-down {
  fill: #f44336; /* Adjust as needed */
}